@charset "utf-8";
/* CSS Document */


.blackongray {
	font-weight: bold;
	text-align: center;
	background: #F0F0F0;

}

.reportalign {
	text-align: left;
	padding-left: 10px;
}

table {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 11px;
}

.whiteonblack {
	background-color:#000;
	color:#FFF;
}

.txtborderless{
	border:none;
	background:transparent;
	padding-left:10px;
}

table.reportalign2 tbody td{
	text-align: left;
	padding-left: 10px;
}

table.reportalign2 tbody .blackongray2{
	font-weight: bold;
	background: #F0F0F0;
}