Resources:
 AWSEBAutoScalingGroup:
   Metadata:
     AWS::CloudFormation::Authentication:
       S3Auth:
         type: "s3"
         buckets: ["aev-apps-uat"]
         roleName:
           "Fn::GetOptionSetting":
             Namespace: "aws:autoscaling:launchconfiguration"
             OptionName: "IamInstanceProfile"
             DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
 # Config files here
 /var/app/tmp/dbconfig.php:
   mode: "000640"
   owner: root
   group: root
   authentication: "S3Auth"
   source: https://aev-apps-uat.s3-ap-southeast-1.amazonaws.com/aev-sms-uat/includes/dbconfig.php
 /var/app/tmp/global.php:
   mode: "000640"
   owner: root
   group: root
   authentication: "S3Auth"
   source: https://aev-apps-uat.s3-ap-southeast-1.amazonaws.com/aev-sms-uat/includes/global.php
 /var/app/tmp/function.php:
   mode: "000640"
   owner: root
   group: root
   authentication: "S3Auth"
   source: https://aev-apps-uat.s3-ap-southeast-1.amazonaws.com/aev-sms-uat/includes/function.php
 "/etc/php.d/inc_limit.ini" :
     mode: "000755"
     owner: root
     group: root
     content: |
       upload_max_filesize = 1200M
       post_max_size = 1300M
       memory_limit = 1000M
       max_execution_time = 1000
       max_input_time = 1200
 # Auto Mount EFS starts here
 "/tmp/mount-efs.sh":
     mode: "000755"
     content : |
       #!/bin/bash
       # Check if Directory exists
       if [ -d /efs/upload_file ]
       then
          echo "EFS already mounted."
       else
          echo "EFS Not Found. Initiate mount..."
          mkdir -p /efs
          mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,noresvport fs-91868fd0.efs.ap-southeast-1.amazonaws.com:/ /efs
       fi
       chmod -R 775 /efs/audit
       chmod -R 775 /efs/licenses
       chmod -R 775 /efs/bulogos
       chmod -R 775 /efs/upload
       chmod -R 755 /efs/images
       chmod -R 755 /efs/guardphotos
       ln -sf /efs/audit /var/app/ondeck
       ln -sf /efs/licenses /var/app/ondeck
       ln -sf /efs/bulogos /var/app/ondeck
       ln -sf /efs/upload /var/app/ondeck
       ln -sf /efs/images /var/app/ondeck
       ln -sf /efs/guardphotos /var/app/ondeck
       chown -R webapp:webapp /var/app/ondeck/audit
       chown -R webapp:webapp /var/app/ondeck/licenses
       chown -R webapp:webapp /var/app/ondeck/bulogos
       chown -R webapp:webapp /var/app/ondeck/upload
       chown -R webapp:webapp /var/app/ondeck/guardphotos
       chown -R webapp:webapp /var/app/ondeck/images
container_commands:
 1_run_mount:
    command: "/tmp/mount-efs.sh"
 2_mvconfig:
   command: "mv /var/app/tmp/dbconfig.php /var/app/ondeck/includes/dbconfig.php"
 3_mvconfig:
   command: "mv /var/app/tmp/global.php /var/app/ondeck/includes/global.php"
 4_mvconfig:
   command: "mv /var/app/tmp/function.php /var/app/ondeck/includes/function.php"
